.App {
  text-align: center;
}

body {
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}

#buttonColor{
  color: blue;
}

.list {
  text-align: left;
  width: 1200px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.x{
  width: 100px;
}